<div class="generator-page">
  <%= render 'shared/navbar' %>
  <%=  form_with url: download_docx_path, html: {class:"generator-flex"} do |f| %>

      <div class="questions-display">
        <h1>Select questions</h1>

        <%# topic selection %>
        <div class="form-group topic-selection">
          <label for="topic">Topic</label>
          <select class="form-control" id="topic">
            <% @topics.each do |topic| %>
              <option><%= topic %></option>
            <% end %>
          </select>
        </div>
        <%# display questions %>
        <% @questions_and_htmls.each do |question_and_html| %>
          <div class="question <%= question_and_html[:question].topic[:name].gsub(' ', '-') %>">
            <%= f.check_box :question_ids, {multiple: true, id: "question_id_#{question_and_html[:question][:id]}", class: "selection-checkbox", style: "display:none;"}, question_and_html[:question][:id], false %>
            <label for="<%= "question_id_#{question_and_html[:question][:id]}" %>">
              <%= question_and_html[:html].html_safe %>
            </label>
          </div>
        <% end %>
      </div>

      <div class="questions-submit">
        <p id="selected_count">You have selected 0 questions.</p>
        <%= f.submit "Generate exam paper", class: "btn btn-success", disabled: true, id: "generate-button" %>
      </div>

  <% end %>
</div>
