<div class="container dashboard">
  <h2>Dashboard</h2>
  <h4>Add a subject</h4>
  <%= simple_form_for @new_subject, html: { class: 'form-inline' } do |f| %>
    <%= f.input :grade, collection: 1..15 %>
    <span class="empty-space"></span>
    <%= f.input :name, label: 'Subject', collection: Subject.names.keys %>
    <span class="empty-space"></span>
    <%= f.submit 'Add', class: "btn btn-default btn-success" %>
  <% end %>
  <hr>
  <h4>Subjects</h4>
  <div class="subjects-grid">
    <% @subjects.each do |subject| %>
      <div class="subject">
        <p>Grade <%= subject.grade %></p>
        <p><%= subject.name %></p>
        <p><%= subject.questions.count %> questions</p>
        <%= link_to 'add questions', new_subject_question_path(subject) %><br>
        <%= link_to 'generate paper', subject_questions_path(subject) %><br>
        <hr>
        <%= link_to 'delete', subject_path(subject), method: :delete, style: "color: #dc143c" %>
      </div>
    <% end %>
  </div>
</div>
